.reserva__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  height: 70%;
}

.reserva__container h1 {
  font-size: 42px;
  color: #f91c36;
}

.reserva__container-content {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.reserva__selectors {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Cambia a stretch para que los hijos ocupen todo el ancho */
  gap: 20px;
  height: 100%; /* Asegúrate de que tenga altura */
}

.reserva__selectors > div {
  flex: 1 1 0;
  width: 100%;
}

.reserva__fecha {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #f91c36;
}

.reserva__fecha-content {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}

.reserva__fecha-content div {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 20px;
}

.reserva__hora {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #f91c36;
}

.reserva__hora-content {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}

.reserva__hora-content div {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 20px;
}

.reserva__formato {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #f91c36;
  
}

.reserva__formato-content {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}

.reserva__formato-content div {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 20px;
}

.reserva__seats {
  width: 50%;
}

